{% extends 'plantilla.html' %}
{% block body %}
    <br>
    <br>
    <div class="container text-center">
        <h2>Ingreso Al Sistema</h2>
    </div>
    <br>
    <div class="container">
        <form method="POST" action="{{url_for('login')}}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuarios</label>
            <input type="text" class="form-control" name="user" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Clave</label>
            <input type="text" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock body %}